{% extends 'base.twig.html' %}
{% block content %}
    <h2>About</h2>
    <p>I'm a <a href="https://www.phpdeveloper.org.uk/">freelance web developer</a> based in Manchester, UK. Although my background is in computing, after my first Computer Science degree I decided it would be fun to spend a year studying Ancient History. I'd been interested in the subject for a long time but couldn't study it at GCSE or A level (the only history options were modern history), but I was accepted onto the MA in Ancient World Studies course at the University of Manchester.</p>
    <p>I'm a member of the <a href="https://u3asites.org.uk/warrington/page/90961">History</a> group of <a href="https://u3asites.org.uk/warrington/home">Warrington U3A</a>, which my late grandfather helped to start, and I usually give two talks a year. I also help with organising the group. We currently meet once a month (except July and August) and new members are always welcome.</p>
{% endblock %}
