{% extends 'base.twig.html' %}
{% block content %}
    <h2>Languages</h2>
    <p>As part of my <a href="{{ url_for('ma.index') }}">MA</a>, I studied Latin for a year using Reading Latin (2nd edition) and audited (i.e. took without credit) Greek for one term. Unfortunately I messed up on the 3 hour(!) Latin exam and ended up with a compensatory pass, which meant that my overall grade was also limited to a pass.</p>
    <p>In 2022, I decided to have another go at learning Latin, this time for fun with no expectation of obtaining a qualification. I was working through <a href="https://www.clarkeslatin.co.uk/">Clarke's Latin</a> with <a href="https://latintutoring.co.uk/">Emma Williams</a> and making much better progress, but I've had to put that on hold for a while.</p>
{% endblock %}
