{% extends 'base.twig.html' %}
{% block content %}
  <h2>Talks</h2>

  <p>I enjoy writing and delivering talks about ancient history, the notes for which are available here:</p>

  <ul>
    <li><a href="/downloads/talks/cicero-2025.pdf">Cicero</a> - University of the Third Age, Warrington Branch, November 2025</li>
    <li><a href="/downloads/talks/punic-wars-2024.pdf">The Punic Wars</a> - University of the Third Age, Warrington Branch, October 2024</li>
    <li><a href="/downloads/talks/peloponnesian-war-2024.pdf">The Peloponnesian War</a> - University of the Third Age, Warrington Branch, June 2024</li>
    <li><a href="/downloads/talks/pompey-rising-sun-2023.pdf">Pompey: The Rising Sun</a> - University of the Third Age, Warrington Branch, March 2023</li>
    <li><a href="/downloads/talks/tiberius-2022.pdf">Tiberius</a> - University of the Third Age, Warrington Branch, December 2022</li>
    <li><a href="/downloads/talks/augustus-first-emperor-rome-2022.pdf">Augustus: First Emperor of Rome</a> - University of the Third Age, Warrington Branch, January 2022</li>
    <li><a href="/downloads/talks/augustus-path-to-power-2021.pdf">Augustus: The Path to Power</a> - University of the Third Age, Warrington Branch, September 2021</li>
    <li><a href="/downloads/talks/cicero-2021.pdf">Cicero</a> - University of the Third Age, Warrington Branch, May 2021</li>
    <li><a href="/downloads/talks/punic-wars-2020.pdf">The Punic Wars</a> - University of the Third Age, Warrington Branch, December 2020</li>
    <li><a href="/downloads/talks/peloponnesian-war-2020.pdf">The Peloponnesian War</a> - University of the Third Age, Warrington Branch, February 2020</li>
    <li><a href="/downloads/talks/fall-roman-republic.pdf">The Fall of the Roman Republic</a> - University of the Third Age, Warrington Branch, November 2017</li>
    <li><a href="/downloads/talks/decline-roman-republic.pdf">The Decline of the Roman Republic</a> - University of the Third Age, Warrington Branch, June 2017</li>
    <li><a href="/downloads/talks/pompey-caesar.pdf">Pompey and Caesar</a> - University of the Third Age, Warrington Branch, November 2016</li>
    <li><a href="/downloads/talks/punic-wars.pdf">The Punic Wars</a> - University of the Third Age, Warrington Branch, June 2016</li>
    <li><a href="/downloads/talks/peloponnesian-war.pdf">The Peloponnesian War</a> - University of the Third Age, Warrington Branch, November 2015</li>
    <li><a href="/downloads/talks/decline-fall-west.pdf">The Fall of the Western Roman Empire</a> - University of the Third Age, Warrington Branch, June 2015</li>
    <li><a href="/downloads/talks/roman-imperialism.pdf">Transition from Republicanism to Imperialism</a> - University of the Third Age, Warrington Branch, May 2014</li>
    <li><a href="/downloads/talks/apchc-2007.pdf">The Periclean Citizenship Law of 451/0 B.C.</a> - Annual Postgraduate Conference in History and Classics, February 2007</li>
  </ul>

  <p>Upcoming talks that I am working on include:</p>

  <ul>
    <li>Caligula - TBC</li>
    <li>Claudius - TBC</li>
    <li>Nero - TBC</li>
    <li>Year of the Four Emperors - TBC</li>
    <li>Pompey: The Setting Sun - TBC</li>
  </ul>

  <p>If you would like me to give a talk at your local group, <a href="{{ url_for('contact') }}">drop me an email</a> and I'll see what I can do. Please bear in mind that I work full time and don't make any money out of speaking or writing about history, so the number of talks I can give is limited.</p>
{% endblock %}
