{% extends 'base.twig.html' %}
{% block title %}Latin Worksheet Verbs{% endblock %}
{% block content %}
  <h2>Latin Worksheet Verbs</h2>
 
  <form action="{{ url_for('latin.worksheet.verbs.store') }}" method="post" novalidate>
    {% if errors.general is defined %}
        <p class="form-error">{{ errors.general }}</p>
    {% endif %}

    <p>
        Select the verbs you want to appear on the worksheet:<br>
        {% if errors.verbs is defined %}
            <span class="form-error">{{ errors.verbs }}</span><br>
        {% endif %}
        {% for verb in verbs %}
        <label>
            <input name="verbs[{{ verb.getId() }}]" type="checkbox" value="1"> {{ verb.getFirstPersonSingularLatin() }}
        </label>
        {% endfor %}
    </p>

    <p>
        <label for="latin_english_exercises_number">Number of Latin to English exercises</label>
        <input id="latin_english_exercises_number" name="latin_english_exercises_number" type="number" min="0" max="60" value="" required>
        {% if errors.latin_english_exercises_number is defined %}
            <br><span class="form-error">{{ errors.latin_english_exercises_number }}</span>
        {% else %}
            <br>Maximum 60. Enter 0 for no exercises.
        {% endif %}
    </p>

    <p>
        <label for="english_latin_exercises_number">Number of English to Latin exercises</label>
        <input id="english_latin_exercises_number" name="english_latin_exercises_number" type="number" min="0" max="60" value="" required>
        {% if errors.english_latin_exercises_number is defined %}
            <br><span class="form-error">{{ errors.english_latin_exercises_number }}</span>
        {% else %}
            <br>Maximum 60. Enter 0 for no exercises.
        {% endif %}
    </p>

    <p><button type="submit">Generate worksheet</button></p>
  </form>
{% endblock %}
 