{% extends 'base.twig.html' %}
{% block content %}
    <h2>Groups</h2>
    <p>I'm a member of the following groups related to ancient history:</p>
    <ul>
      <li><a href="https://warrington.u3asite.uk/u3a_groups/history/">History</a>, Warrington U3A</li>
      <li><a href="https://warrington.u3asite.uk/u3a_groups/latin-3/">Latin III</a>, Warrington U3A</li>
    </ul>
    <p>Other groups which may be of interest:</p>
    <ul>
      <li><a href="https://ribchestermuseum.org/friends/">Friends of Ribchester Roman Museum</a></li>
      <li><a href="https://www.manchesterca.co.uk/">Manchester Classical Association</a></li>
    </ul>
{% endblock %}
