{% extends 'base.twig.html' %}
{% block content %}
    <h2>Groups</h2>
    <p>I'm a member of the following groups related to ancient history:</p>
    <ul>
      <li><a href="https://u3asites.org.uk/warrington/page/7200">Classical History</a>, Warrington U3A</li>
    </ul>
    <p>Other groups which may be of interest:</p>
    <ul>
      <li><a href="https://ribchestermuseum.org/friends/">Friends of Ribchester Roman Museum</a></li>
      <li><a href="https://www.manchesterca.org.uk/">Manchester Classical Association</a></li>
    </ul>
{% endblock %}
