{% extends 'base.twig.html' %}
{% block content %}
  <h2>MA Ancient World Studies</h2>

  <p>In 2006 I decided it would be fun to follow up on my Computer Science undergraduate degree with a postgraduate degree in Ancient World Studies.</p>

  <ul>
    <li><a href="/downloads/ma/dissertation.pdf">Representation of Ancient Warfare in Modern Video Games</a> - Dissertation which has been <a href="https://scholar.google.co.uk/scholar?cites=16108384199762249642&as_sdt=2005&sciodt=0,5&hl=en">cited by other scholars</a>.
      <li><a href="/downloads/ma/demes-and-democracy-essay.pdf">The Periclean Citizenship Law of 451/0 B.C.</a> - An analysis of a citizenship law in ancient Athens, for my Demes and Democracy module. This was turned into a 15 minute presentation which I delivered at a postgraduate conference.</li>
      <li><a href="/downloads/ma/late-roman-army-essay.pdf">Frontiers and fortifications in the later Roman Empire</a> - Looking at the borders of the Roman Empire in the 4th and 5th centuries AD.</li>
      <li><a href="/downloads/ma/new-techniques.pdf">New techniques for studying the ancient world</a> - Essay to go alongside a presentation looking at the application of technology to ancient history.</li>
  </ul>
{% endblock %}
