<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancient History UK</title>
    <link rel="stylesheet" href="/css/simple-2.2.0.min.css">
</head>
<body>
  <header>
    <nav>
      <a href="{{ url_for('index') }}">Home</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('contact') }}">Contact</a>
      <a href="{{ url_for('groups.index') }}">Groups</a>
      <a href="{{ url_for('languages.index') }}">Languages</a>
      <a href="{{ url_for('ma.index') }}">MA</a>
      <a href="{{ url_for('quizzes.index') }}">Quizzes</a>
      <a href="{{ url_for('talks.index') }}">Talks</a>
    </nav>
    <h1>Ancient History UK</h1>
    <p>Paul's collection of ancient history (Roman and Greek) resources</p>
  </header>

  <main>
    {{ block('content') }}
  </main>

  <footer>
    <p>Copyright {{ 'now'|date('Y') }} Paul Waring.</p>
  </footer>
</body>
</html>
