{% extends 'base.twig.html' %}
{% block title %}Home page{% endblock %}
{% block content %}
  <h2>Welcome</h2>

  <p>Ancient History UK is a collection of Roman and Greek resources by Paul Waring.</p>

  <p>I enjoy giving <a href="{{ url_for('talks.index') }}">talks</a> (mainly on Roman history, from the Punic Wars to the Early Empire) and am <a href="{{ url_for('languages.index') }}">re-learning Latin</a>.</p>

  <p>You may also be interested in <a href="https://www.modernhistory.org.uk/">Modern History UK</a> (anything after about 1700 AD).</p>
{% endblock %}
 